
  
  #about .contenedor-sobremi {
  
    display: flex;
    justify-content: space-around;
  }
  
  #about .texto {
    
    width: 42%;
    text-align: justify;
  }
    

  @media (max-width: 800px){

    
  #about .contenedor-sobremi {
        
      flex-direction: column;
      
  }

  #about img {
      width: 100%;
      height: 250px;
  }

  #about .texto {
      width: 98%;
      text-align: center;
  }
  }
  